rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in [
          "admin@example.com"
        ];
    }

    match /gallery/{itemId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /notices/{noticeId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}
